<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}Sample App{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.scss.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }}></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block navbar %}

    {% include 'nav.html' %}

    {% endblock %}
    
    {% import 'errors.html' as errors %}
    <div class="container-fluid mt-4">
      {{ errors.print_errors_with_category() }}
    </div>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}

  </body>
</html>
